[credential "http://tfs.novarad.net:8080"]
	provider = generic
[user]
	name = Ryan West
	email = west.ryan.k@gmail.com
[credential "https://tfs.novarad.net"]
	provider = generic
[diff]
	tool = vsdiffmerge
[difftool]
#    prompt = true
[difftool "vsdiffmerge"]
	cmd = \"C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\Common7\\IDE\\CommonExtensions\\Microsoft\\TeamFoundation\\Team Explorer\\vsdiffmerge.exe\" \"$LOCAL\" \"$REMOTE\" //t
	keepBackup = false
[merge]
	tool = vsdiffmerge
[mergetool]
#	prompt = true
    keepBackup = false
[mergetool "vsdiffmerge"]
	cmd = \"C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\Common7\\IDE\\CommonExtensions\\Microsoft\\TeamFoundation\\Team Explorer\\vsdiffmerge.exe\" \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\" //m
	keepBackup = false
	trustExitCode = true
[push]
	default = upstream
#	autoSetupRemote = true
[core]
	editor = nvim
[alias]
    a   = add
    aa  = add .
    br  = branch
    bd  = branch -d
    bD  = branch -D
    bdr = !pwsh -command Remove-GitRemoteBranch
    ch  = checkout
    chb = checkout -b
    cfg = config --global -e
    co  = commit
    com = commit -m
    coa = commit --amend
    con = commit --amend --no-edit
    d   = diff
    ds  = diff --staged
    l   = log
    g  = log --graph --oneline --branches
    ga = log --graph --oneline --all
    mt  = mergetool
    p   = push
    pf  = push -f
    # p   = !pwsh -command Invoke-GitPushDev
    # pf  = !pwsh -command Invoke-GitPushDev -f
    rs  = reset
    rsh = reset --hard
    rb  = rebase
    rbi = rebase -i
    rbc = rebase --continue
    rba = rebase --abort
    s   = status
